# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
.venv/
myvenv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Course notes (not part of project)
Github_TIL/
